/* Background */
.aboutPage {
  display: flex;
  flex-direction: column;
  background: linear-gradient(150deg, teal, transparent);
  color: #fff;
  min-height: 100vh;
  padding: 50px;
  position: relative;
}

.logo {
  position: relative;
  top: 100px;
  left: 20px;
  z-index: 11;
}

.logo img {
  height: 80px;
}

/* Image */
.aboutImage {
  width: 100%; /* Expand the image to full width */
  height: 80vh; /* Adjust height as needed for full-screen effect */
  object-fit: cover; /* Make sure the image covers the area without distortion */
  position: relative; /* Ensures the logo can be positioned on top */
  z-index: 1; /* Keeps the image below the logo */
}

/* Title */
.aboutTitle {
  font-size: 4rem;
  font-family: serif;
  color: #2a4d55;
  letter-spacing: 5px;
  white-space: nowrap;
  margin-top: 20px;
  text-align: center; /* Center-align the title */
}

/* Description Section */
.aboutContent {
  padding: 20px;
}

.highlight {
  color: #A4C639;
  font-weight: bold;
}

.aboutText {
  line-height: 1.6;
  max-width: 600px;
  color: #2a4d55;
  margin: 0 auto; /* Center-align the text */
}
