.container{
background:linear-gradient(150deg, teal, transparent);
    
}
.heroSection {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
 
  }
  

  .fullscreenImageContainer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.fullscreenImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroSection {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
 
  }

  .logo {
    position: relative;
    top: 100px;
    left: 20px;
    z-index: 11;
  }
  
  .logo img {
    height: 80px;
  }
  