.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;

    scroll-snap-align: end;}

.footerContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background:linear-gradient(150deg, teal, transparent);
}

.footerSection {
    flex: 1 1 200px;
    margin: 10px;
    color:#0c3737;
 
}

.footerSection h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footerSection ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footerSection ul li {
    margin: 5px 0;
}

.footerSection ul li a {
    color: #184100;
    text-decoration: none;
}

.footerSection ul li a:hover {
    text-decoration: underline;
}

.footerSection p {
    margin: 5px 0;
    color: #184100;
}

.footerSection .weatherWidget iframe,
.footerSection iframe {
    border: 0;
    border-radius: 8px;
}

.footerBottom {
    background-color: #222;
    padding: 10px;
    font-size: 0.9em;
    color: #aaa;
}

.footerBottom p {
    margin: 0;
}
