@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* src/styles/globals.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    perspective: 1px;
    overflow-x: hidden;
  }
  
  .container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  }
  
  section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }

  .logo {
    position: relative;
    top: 100px;
    left: 20px;
    z-index: 11;
  }
  
  .logo img {
    height: 80px;
  }