/* src/styles/globals.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  perspective: 1px;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
